* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e6e8ea;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-inline: 15px;
}
.main-num {
  font-weight: bold;
  font-size: 6em;
  color: #7fb5b5;
  width: max-content;
  max-width: 100%;
  margin-inline: auto;
  text-align: center;
}
button {
  background-color: rgb(127, 181, 181);
  outline: none;
  border: none;
  padding: 1rem 5rem;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: capitalize;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.checkbox-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  align-self: self-start;
  cursor: pointer;
}
input[type="checkbox"] {
  width: 20px;
  aspect-ratio: 1/1;
}
.range-w-button {
  display: flex;
  gap: 1rem;
}
input[type="number"] {
  width: 84px;
  padding: 1rem 1rem;
  border: none;
  border-radius: 10px;
  background: rgba(127, 181, 181, 0.2);
}
button:active {
  background-color: #618c8c;
}
